.skeleton-container {
  top: -3;
}

.skeleton-card {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  width: 88%;
  height: 10vh;
  border-radius: 8px;
  animation: pulse 1.5s infinite ease-in-out;
  padding: 5px;
  margin-left: 5%;
  margin-bottom: 0.5%;
}

.skeleton-title {
  width: 20%;
  height: 1.5rem;
  margin-left: 3%;
  background-color: #ddd;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 4px;
}

.skeleton-line {
  width: 30%;
  height: 1.5rem;
  margin-left: 1%;
  background-color: #e0e0e0;
  margin-bottom: 0.4rem;
  border-radius: 4px;

  &.short {
    width: 30%;
  }

  &:not(.short) {
    width: 40%;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}