.skeleton-card {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  width: 85%;
  height: 10vh;
  border-radius: 8px;
  animation: pulse 1.5s infinite ease-in-out;
  padding: 10px;
  margin-left: 4%;
  margin-bottom: 1%;
}

.skeleton-title {
  width: 20%;
  height: 1.2rem;
  background-color: #ddd;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

.skeleton-line {
  height: 0.9rem;
  background-color: #e0e0e0;
  margin-bottom: 0.4rem;
  border-radius: 4px;

  &.short {
    width: 30%;
  }

  &:not(.short) {
    width: 70%;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}